.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black transparent on hover */
}
.nav-link {
  color: white; /* Default text color */
  transition: color 0.3s ease; /* Smooth transition for the text color */
}

.nav-link:hover {
  color: limegreen; /* Change text color to lime green on hover */
}

.circ {
  background-color: blue;
  border-radius: 100%;
  width: 50px;
  margin-right: 31rem;
  margin-bottom: 15rem;
  position: absolute;
  
}